Package: gsl
Version: 2.6
Architecture: x64-windows
Multi-Arch: same
Abi: 220bdc01058ad32379a056b7fa94147f4cfd1743
Description: The GNU Scientific Library is a numerical library for C and C++ programmers
Type: Port
